@charset "UTF-8";

.container{
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 232, 235);
    border: pink solid 2px;
    border-radius: 20px;
    width: 700px;
    height:500px;
    margin: 10% auto;
    padding:50px;
}

.txt{
	font-family: "Fredoka", serif, bold;
}

.txt-input{
	border-radius: 10px;
	padding: 10px;
}

hr{
    width: 200px;
	margin:30px auto;
}

#hr-mt-none{
		width: 200px;
		margin: 30px auto 0px;
}

.btn{
    border-radius: 20px;
    padding: 8px 20px;
    margin: 30px;
     color: black;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
	font-family: "Fredoka", serif;
}

.btn-mt-none{
    border-radius: 20px;
    padding: 8px 20px;
    margin: 0 30px 30px 30px;
}

h1{
    font-family: "Fredoka", serif, bold;
    margin-bottom: 0;
}

h2{
	font-family: "Fredoka", serif;
	margin: 0;
}

p{
	font-family: "Fredoka", serif;
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
    font-family: "Fredoka", serif;
    margin: 20px;
}

.mt{
	margin-top: 10px;
}
.btn:hover{
    color:pink;
    background-color: black;
    opacity: 1.0;
    cursor: default;
}